:root {
  --primary-color: #34c94b;
  --black-color: #121212;
  --white-color: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,body{
  height:100%;
}
body {
  background-color: var(--black-color);
  font-family: "Poppins", sans-serif;
  color: var(--white-color);
  line-height: 1.5;
  -webkit-font-smoothing: antialised;
}
img,picture,video,canvas.svg{
  display:block;
  max-width: 100%;
}
input,button,textarea,select{
  font: inherit;
}
p,h1,h2,h3,h4,h5,h6{
  overflow-wrap:break-word;
}
#root,#_next{
  isolation: isolate;
}